/* Basic Style */
.form-group {
    position: relative;   
}
.form-group [data-toggle="floatLabel"] {
    height: 50px;
    padding-top: 20px;
}
.form-group [data-toggle="floatLabel"] + label {
    font-size: 0.69vw;
    left: 12px;
	opacity: 1;
	position: absolute;
	top: 9px;
	transition: all 0.3s ease-in-out;
}
.form-group [data-toggle="floatLabel"]:required + label {
    color: #72828e;
}

/* Custom Styles */
.form-group.form-group-textarea {
    background-color: rgb(255, 255, 255);
	border-radius: 1px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	margin: 20px 15px ;
	padding: 10px 0px 2px;
	position: relative;
}
.form-group.form-group-textarea textarea {
    height: 34px;
	resize: none;
}
.form-group.form-group-textarea label {
    color: rgb(160, 160, 160);
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 500;
}
.form-group.form-group-textarea .form-control {
    border-radius: 0px;
	border-width: 0px;
	box-shadow: none;
}
.form-group.form-group-textarea [data-toggle="floatLabel"] + label {
	top: 5px;
}

/* Positioning */
.form-group [data-toggle="floatLabel"][data-value=""] {
    padding-top: 6px;
}
.form-group [data-toggle="floatLabel"][data-value=""] + label {
	opacity: 0;
	top: 18px;
}

label {
    font-weight: 400;
}

.form-control {
    color: #000000;
    font-size: 0.97vw;
}

.form-group {
    margin-bottom: 25px;
}