/* color declaraton start*/
/* color declaraton end*/
/* mixins style start*/
/* mixin style end*/
/* text style start*/
/* line 44, ../sass/qantile-theme.scss */
body {
  font-family: 'open sans', Helvetica,Arial,sans-serif;
}

/* line 49, ../sass/qantile-theme.scss */
h2 {
  font-size: 2.33vw;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 10px !important;
}

/* line 57, ../sass/qantile-theme.scss */
h3 {
  font-size: 2vw;
  font-weight: 300 !important;
}

/* line 63, ../sass/qantile-theme.scss */
h4 {
  font-size: 1.63vw;
  font-weight: 300 !important;
  margin-top: 10px !important;
  margin-bottom: 25px !important;
}

/* line 70, ../sass/qantile-theme.scss */
h5 {
  font-size: 1.25vw;
  font-weight: 600 !important;
  margin-top: 8px !important;
  margin-bottom: 16px !important;
}

/* text style end*/
/* margin padding style end*/
/* line 81, ../sass/qantile-theme.scss */
.margin-top-clear {
  margin-top: 0px !important;
}

/* line 85, ../sass/qantile-theme.scss */
.margin-top-10 {
  margin-top: 10px !important;
}

/* line 89, ../sass/qantile-theme.scss */
.margin-top-14 {
  margin-top: 14px !important;
}

/* line 93, ../sass/qantile-theme.scss */
.margin-top-20 {
  margin-top: 14px !important;
}

/* line 97, ../sass/qantile-theme.scss */
.margin-top-30 {
  margin-top: 30px !important;
}

/* line 101, ../sass/qantile-theme.scss */
.margin-top-40 {
  margin-top: 40px !important;
}

/* line 105, ../sass/qantile-theme.scss */
.margin-bottom-clear {
  margin-bottom: 0px !important;
}

/* line 109, ../sass/qantile-theme.scss */
.margin-bottom-10 {
  margin-bottom: 10px !important;
}

/* line 113, ../sass/qantile-theme.scss */
.margin-bottom-20 {
  margin-bottom: 20px !important;
}

/* line 117, ../sass/qantile-theme.scss */
.margin-bottom-50 {
  margin-bottom: 50px !important;
}

/* line 121, ../sass/qantile-theme.scss */
.margin-top-50 {
  margin-top: 50px !important;
}

/* line 125, ../sass/qantile-theme.scss */
.margin-left-70 {
  margin-left: 70px !important;
}

/* line 129, ../sass/qantile-theme.scss */
.margin-right-70 {
  margin-right: 70px !important;
}

/* line 133, ../sass/qantile-theme.scss */
.padding-left-clear {
  padding-left: 0px !important;
}

/* line 137, ../sass/qantile-theme.scss */
.padding-right-clear {
  padding-right: 0px !important;
}

/* margin padding style end*/
/* form style start*/
/* line 144, ../sass/qantile-theme.scss */
.btn, .btn:hover {
  padding: 15px 40px;
  font-size: 1.05vw;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
}

/* line 149, ../sass/qantile-theme.scss */
.btn-primary {
  color: #fff;
  background-color: #019bde;
  border-color: #019bde;
}

/* line 155, ../sass/qantile-theme.scss */
.btn-primary:hover {
  color: #fff;
  background-color: #0075b8;
  border-color: #0075b8;
  transition: all 0.5s ease 0s;
}

/* line 162, ../sass/qantile-theme.scss */
.btn-secondary {
  color: #fff;
  background-color: #fbb13c;
  border-color: #fbb13c;
}

/* line 168, ../sass/qantile-theme.scss */
.btn-secondary:hover {
  color: #fff;
  background-color: #d58b16;
  border-color: #d58b16;
  transition: all 0.5s ease 0s;
}

/* line 175, ../sass/qantile-theme.scss */
.error-msg {
  color: #ee6352;
}

/* line 179, ../sass/qantile-theme.scss */
a link {
  color: #019bde;
}

/* line 182, ../sass/qantile-theme.scss */
a:focus, a:hover {
  color: #0075b8;
  text-decoration: none;
}

/* formstyle end*/
/* nav style start*/
/* line 189, ../sass/qantile-theme.scss */
.navbar {
  min-height: 65px;
  margin-bottom: 0px;
}

/* line 194, ../sass/qantile-theme.scss */
.navbar-brand {
  line-height: 35px;
  padding: 18px 15px !important;
}

/* line 200, ../sass/qantile-theme.scss */
.navbar-nav li a {
  padding-top: 23px;
  padding-bottom: 21px;
}
/* line 206, ../sass/qantile-theme.scss */
.navbar-nav .btn {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  margin: 18px 0 0 0;
}
/* line 213, ../sass/qantile-theme.scss */
.navbar-nav .nav-btn-primary {
  color: #fff;
  background-color: #403f4c;
  border-color: #403f4c;
}
/* line 219, ../sass/qantile-theme.scss */
.navbar-nav .nav-btn-primary:hover {
  color: #fff;
  background-color: #1a1926;
  border-color: #1a1926;
  transition: all 0.5s ease 0s;
}

/* line 227, ../sass/qantile-theme.scss */
.navbar-inverse {
  background-color: #34333e;
  border-color: transparent;
}
/* line 233, ../sass/qantile-theme.scss */
.navbar-inverse .navbar-nav li a {
  color: #ffffff;
}
/* line 237, ../sass/qantile-theme.scss */
.navbar-inverse .navbar-nav li a:hover {
  color: #019bde;
}
/* line 243, ../sass/qantile-theme.scss */
.navbar-inverse .dropdown-menu {
  background-color: #34333e;
}

/* line 250, ../sass/qantile-theme.scss */
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #019bde;
  background-color: transparent;
}

/* line 254, ../sass/qantile-theme.scss */
.dropdown-menu > li > a {
  display: block;
  padding: 7px 15px 7px 15px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  background-color: transparent !important;
}

/* line 265, ../sass/qantile-theme.scss */
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #019bde;
  text-decoration: none;
  background-color: transparent !important;
}

/* line 271, ../sass/qantile-theme.scss */
.dropdown-submenu {
  position: relative;
}

/* line 275, ../sass/qantile-theme.scss */
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
  background-color: transparent !important;
}

/* line 286, ../sass/qantile-theme.scss */
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

/* line 290, ../sass/qantile-theme.scss */
.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

/* line 304, ../sass/qantile-theme.scss */
.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}

/* line 308, ../sass/qantile-theme.scss */
.dropdown-submenu.pull-left {
  float: none;
}

/* line 312, ../sass/qantile-theme.scss */
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

/* nav style end*/
/* hero style start*/
/* line 323, ../sass/qantile-theme.scss */
.q-hero {
  height: 40vh;
  background: url("../img/hero-bg.jpg");
  color: white;
  padding-top: 5%;
  margin-top: 60px;
}

/* hero style end*/
/* services style start*/
/* line 333, ../sass/qantile-theme.scss */
.q-services {
  padding: 60px 0 60px 0px;
}

/* services style end*/
/* projects style start*/
/* line 339, ../sass/qantile-theme.scss */
.q-projects {
  background: #f5f8fa;
}

/* projects style end*/
/* why quantile style start*/
/* line 345, ../sass/qantile-theme.scss */
.q-why-quantile {
  padding: 60px 0 60px 0px;
}
/* line 348, ../sass/qantile-theme.scss */
.q-why-quantile .block-1 {
  border-left: 6px #019bde solid;
}
/* line 352, ../sass/qantile-theme.scss */
.q-why-quantile .block-2 {
  border-left: 6px #fbb13c solid;
}
/* line 356, ../sass/qantile-theme.scss */
.q-why-quantile .block-3 {
  border-left: 6px #6c6c6c solid;
}
/* line 360, ../sass/qantile-theme.scss */
.q-why-quantile .block-4 {
  border-left: 6px #ee6352 solid;
}

/* why quantile style end*/
/* clients style start*/
/* line 367, ../sass/qantile-theme.scss */
.q-clients {
  background: #f5f8fa;
  padding: 60px 0 60px 0px;
}
/* line 371, ../sass/qantile-theme.scss */
.q-clients li {
  width: 300px;
}

/* clients style end*/
/* client testimonial style start*/
/* line 378, ../sass/qantile-theme.scss */
.q-client-testimonials {
  height: 54vh;
  background: url("../img/client-testimonial.jpg");
}

/* line 383, ../sass/qantile-theme.scss */
.q-client-testimonials-main-container {
  margin-top: 40px;
}

/* line 388, ../sass/qantile-theme.scss */
.item {
  background: white;
  padding-bottom: 30px !important;
  padding-top: 25px;
}

/* client testimonial style end*/
/* how to hire a client style start*/
/* line 396, ../sass/qantile-theme.scss */
.q-how-to-hire {
  padding: 60px 0 60px 0px;
}

/* how to hire a client style end*/
/* stats style start*/
/* line 402, ../sass/qantile-theme.scss */
.q-stats {
  padding: 30px 0 30px 0px;
  background: #34333e;
  color: #73b989;
}
/* line 407, ../sass/qantile-theme.scss */
.q-stats h1 {
  font-size: 4.1vw;
  line-height: 60px;
  font-weight: 100 !important;
}
/* line 413, ../sass/qantile-theme.scss */
.q-stats small {
  font-size: 1.5vw;
  padding-left: 5px;
}

/* stats style end*/
/* consultant style start*/
/* line 421, ../sass/qantile-theme.scss */
.q-consultant-top {
  background: url("../img/consultant-top.jpg");
  background-size: cover;
  color: white;
  padding: 60px 0 60px 0px;
}

/* line 428, ../sass/qantile-theme.scss */
.q-consultant-bottom {
  padding: 32px 0 60px 0px;
}

/* consultant style end*/
/* template style start*/
/* line 434, ../sass/qantile-theme.scss */
#middle-content {
  height: 93vh;
  background: #f5f8fa;
}

/* template style end*/
/* footer style start*/
/* line 442, ../sass/qantile-theme.scss */
.q-footer {
  height: 64px;
  font-size: 0.83vw;
  padding-top: 22px;
  background: #f8f8f8;
  color: #4c5c68;
}
/* line 449, ../sass/qantile-theme.scss */
.q-footer a {
  text-decoration: none;
  cursor: pointer;
}
/* line 454, ../sass/qantile-theme.scss */
.q-footer a.link {
  color: #019bde;
}
/* line 458, ../sass/qantile-theme.scss */
.q-footer a.link {
  color: #0075b8;
}

/* footer style end*/
/* socialmedia style start*/
/* line 469, ../sass/qantile-theme.scss */
.socialmedia li {
  width: 40px;
  height: 29px;
}
/* line 474, ../sass/qantile-theme.scss */
.socialmedia .fb {
  background: url("../img/fb-default.png") no-repeat;
}
/* line 478, ../sass/qantile-theme.scss */
.socialmedia .g-plus {
  background: url("../img/g-plus-default.png") no-repeat;
}
/* line 482, ../sass/qantile-theme.scss */
.socialmedia .in {
  background: url("../img/in-default.png") no-repeat;
}
/* line 486, ../sass/qantile-theme.scss */
.socialmedia .twitter {
  background: url("../img/twitter-default.png") no-repeat;
}
/* line 490, ../sass/qantile-theme.scss */
.socialmedia .you-tube {
  background: url("../img/you-tube-default.png") no-repeat;
}

/* socialmedia style end*/
/* carousel style start*/
/* carousel */
/* line 500, ../sass/qantile-theme.scss */
.client-info {
  margin-top: 70px;
  color: #18aabf;
}
/* line 505, ../sass/qantile-theme.scss */
.client-info .client-name {
  font-size: 1vw;
}
/* line 509, ../sass/qantile-theme.scss */
.client-info .company-name {
  font-size: 0.83vw;
}

/* line 515, ../sass/qantile-theme.scss */
.carousel-indicators li {
  border: none;
}

/* line 519, ../sass/qantile-theme.scss */
.carousel-inner {
  overflow: hidden;
  height: 270px;
}

/* line 524, ../sass/qantile-theme.scss */
.carousel-quote-symbol {
  font-family: 'oranienbaumregular';
  font-size: 40px;
}

/* line 529, ../sass/qantile-theme.scss */
.client-image {
  position: absolute;
  right: -45px;
  top: 82px;
}

/* line 536, ../sass/qantile-theme.scss */
#quote-carousel {
  padding: 0 0px 30px 10px;
  margin-top: 30px 0px 0px;
}

/* control buttons  */
/* line 543, ../sass/qantile-theme.scss */
#quote-carousel .carousel-control {
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}

/* previous button  */
/* line 552, ../sass/qantile-theme.scss */
#quote-carousel .carousel-control.left {
  left: -12px;
}

/* next button  */
/* line 557, ../sass/qantile-theme.scss */
#quote-carousel .carousel-control.right {
  right: -12px !important;
}

/* Changes the position of the indicators */
/* line 562, ../sass/qantile-theme.scss */
#quote-carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: -10px;
  margin-right: -19px;
}

/* Changes the color of the indicators */
/* line 570, ../sass/qantile-theme.scss */
#quote-carousel .carousel-indicators li {
  background: #1d1c22;
  margin-left: 10px;
  -webkit-transition: background 2s;
  /*adjust timing here */
  -moz-transition: background 2s;
  -o-transition: background 2s;
  transition: background 2s;
}

/* line 579, ../sass/qantile-theme.scss */
#quote-carousel .carousel-indicators .active {
  background: #fbb13c;
  -webkit-transition: background 2s;
  /*adjust timing here */
  -moz-transition: background 2s;
  -o-transition: background 2s;
  transition: background 2s;
}

/* End carousel */
/* line 588, ../sass/qantile-theme.scss */
blockquote {
  padding: 10px 0px;
}

/* line 592, ../sass/qantile-theme.scss */
.item blockquote {
  border-left: none;
  margin: 0;
}

/* line 597, ../sass/qantile-theme.scss */
.item blockquote img {
  margin-bottom: 10px;
}

/* Fade transition for carousel items */
/* line 602, ../sass/qantile-theme.scss */
.carousel .item {
  left: 0 !important;
  opacity: 0;
  -webkit-transition: opacity 2s;
  /*adjust timing here */
  -moz-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s;
}

/* line 610, ../sass/qantile-theme.scss */
.carousel-control {
  background-image: none !important;
  /* remove background gradients on controls */
}

/* Fade controls with items */
/* line 614, ../sass/qantile-theme.scss */
.item.active {
  opacity: 1;
}

/* line 619, ../sass/qantile-theme.scss */
.next.left,
.prev.right {
  opacity: 1;
  z-index: 10;
}

/* line 624, ../sass/qantile-theme.scss */
.active.left,
.active.right {
  opacity: 0 !important;
  z-index: 2;
  -webkit-transition: opacity 2s;
  /*adjust timing here */
  -moz-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s;
}

/* Carousel style end*/
/* How it works style end*/
/* line 635, ../sass/qantile-theme.scss */
.stepwizard-row:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
  z-order: 0;
}

/* line 646, ../sass/qantile-theme.scss */
.stepwizard-step {
  font-size: 2.17vw;
  position: relative;
  top: -24px;
  background: white;
}

/* How it works style end*/
/* Sign in style start*/
/* line 655, ../sass/qantile-theme.scss */
.sign-in-registration-main-container {
  margin-top: 85px;
}

/* line 659, ../sass/qantile-theme.scss */
.sign-in-registration-header-container {
  padding: 20px 25px;
  background: #4c5c68;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid #eef1f3;
  border-bottom: none;
  color: white;
}
/* line 668, ../sass/qantile-theme.scss */
.sign-in-registration-header-container h5 {
  font-weight: normal !important;
  margin-top: 1px !important;
  margin-bottom: 1px !important;
}
/* line 674, ../sass/qantile-theme.scss */
.sign-in-registration-header-container small {
  font-size: 0.95vw;
  color: white;
}

/* line 681, ../sass/qantile-theme.scss */
.sign-in-registration-middle-container {
  padding: 35px 25px;
  background: white;
  border-left: 1px solid #eef1f3;
  border-right: 1px solid #eef1f3;
}

/* Sign in style end*/
/**
  MEDIA QUERIES
*/
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* carousel style start*/
  /* line 698, ../sass/qantile-theme.scss */
  #quote-carousel {
    margin-bottom: 0;
    padding: 0 20px 30px 0px;
    margin-top: 30px;
  }

  /* line 704, ../sass/qantile-theme.scss */
  .q-client-testimonials {
    height: 53vh;
    background: url("../img/client-testimonial.jpg");
  }

  /* carousel style end*/
  /* stats style start*/
  /* line 712, ../sass/qantile-theme.scss */
  .q-stats h1 {
    font-size: 4.1vw;
    line-height: 30px;
    font-weight: 100 !important;
  }

  /* stats style end*/
  /* how to hire a client style start*/
  /* line 721, ../sass/qantile-theme.scss */
  .logo-list li {
    width: 24%;
  }

  /* how to hire a client end start*/
}
/* small devices (tablets, up to 768px) */
@media (max-width: 768px) {
  /* make the indicators larger for easier clicking with fingers/thumb on mobile */
  /* line 732, ../sass/qantile-theme.scss */
  .navbar-header {
    float: none;
  }

  /* line 735, ../sass/qantile-theme.scss */
  .navbar-left, .navbar-right {
    float: none !important;
  }

  /* line 738, ../sass/qantile-theme.scss */
  .navbar-toggle {
    display: block;
  }

  /* line 741, ../sass/qantile-theme.scss */
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }

  /* line 745, ../sass/qantile-theme.scss */
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }

  /* line 749, ../sass/qantile-theme.scss */
  .navbar-collapse.collapse {
    display: none!important;
  }

  /* line 752, ../sass/qantile-theme.scss */
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }

  /* line 756, ../sass/qantile-theme.scss */
  .navbar-nav > li {
    float: none;
  }

  /* line 759, ../sass/qantile-theme.scss */
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  /* line 763, ../sass/qantile-theme.scss */
  .collapse.in {
    display: block !important;
  }

  /* text style start*/
  /* line 767, ../sass/qantile-theme.scss */
  h5 {
    font-size: 2vw;
    margin-bottom: 5px !important;
  }

  /* line 772, ../sass/qantile-theme.scss */
  h3 {
    font-size: 3vw;
  }

  /* text style end*/
  /*Form style start*/
  /* line 779, ../sass/qantile-theme.scss */
  .btn, .btn:hover {
    font-size: 2.05vw;
    width: 75%;
  }

  /* line 784, ../sass/qantile-theme.scss */
  hr {
    border: none;
  }

  /*Form style end*/
  /* hero style start*/
  /* line 793, ../sass/qantile-theme.scss */
  .q-hero {
    height: 22vh;
  }

  /* hero style end*/
  /* carousel style start*/
  /* line 799, ../sass/qantile-theme.scss */
  .carousel-inner {
    height: 220px;
  }

  /* line 803, ../sass/qantile-theme.scss */
  #quote-carousel .carousel-indicators li {
    display: inline-block;
    margin: 0px 5px;
    width: 15px;
    height: 15px;
  }

  /* line 809, ../sass/qantile-theme.scss */
  #quote-carousel .carousel-indicators li.active {
    margin: 0px 5px;
    width: 20px;
    height: 20px;
  }

  /* line 815, ../sass/qantile-theme.scss */
  .client-image {
    visibility: hidden;
  }

  /* line 819, ../sass/qantile-theme.scss */
  .q-client-testimonials {
    height: 33vh;
  }

  /* carousel style end*/
  /* how to hire a client style start*/
  /* line 826, ../sass/qantile-theme.scss */
  .logo-list li {
    width: 24%;
  }

  /* line 831, ../sass/qantile-theme.scss */
  .stepwizard-step {
    font-size: 2.17vw;
    position: relative;
    top: -10px !important;
    background: white;
  }

  /* line 839, ../sass/qantile-theme.scss */
  .q-stats
  h1 {
    line-height: 12px;
    text-align: center;
  }

  /* line 844, ../sass/qantile-theme.scss */
  small {
    padding-left: 34% !important;
  }

  /* how to hire a client style end*/
  /* footer style end*/
  /* line 850, ../sass/qantile-theme.scss */
  .q-footer {
    font-size: 1.3vw !important;
    padding-top: 22px;
  }

  /* line 855, ../sass/qantile-theme.scss */
  .copyrights {
    padding-top: 10px;
  }

  /* footer style end*/
}
@media (min-width: 1200px) {
  /* line 862, ../sass/qantile-theme.scss */
  .q-client-testimonials {
    height: 430px;
    background: url("../img/client-testimonial.jpg");
  }
}
