/* color declaraton start*/
/* color declaraton end*/
/* mixins style start*/
/* mixin style end*/
/* text style start*/
/* line 42, ../sass/qantile-theme.scss */
body {
  font-family: 'open sans', Helvetica,Arial,sans-serif;
}

/* line 47, ../sass/qantile-theme.scss */
h2 {
  font-size: 2.33vw;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 10px !important;
}

/* line 55, ../sass/qantile-theme.scss */
h3 {
  font-size: 2vw;
  font-weight: 300 !important;
}

/* line 61, ../sass/qantile-theme.scss */
h4 {
  font-size: 1.63vw;
  font-weight: 300 !important;
  margin-top: 10px !important;
  margin-bottom: 25px !important;
}

/* line 68, ../sass/qantile-theme.scss */
h5 {
  font-size: 1.25vw;
  font-weight: 600 !important;
  margin-top: 8px !important;
  margin-bottom: 16px !important;
}

/* text style end*/
/* margin padding style end*/
/* line 79, ../sass/qantile-theme.scss */
.margin-top-clear {
  margin-top: 0px !important;
}

/* line 83, ../sass/qantile-theme.scss */
.margin-top-14 {
  margin-top: 14px !important;
}

/* line 87, ../sass/qantile-theme.scss */
.margin-top-20 {
  margin-top: 14px !important;
}

/* line 91, ../sass/qantile-theme.scss */
.margin-top-30 {
  margin-top: 30px !important;
}

/* line 95, ../sass/qantile-theme.scss */
.margin-top-40 {
  margin-top: 40px !important;
}

/* line 99, ../sass/qantile-theme.scss */
.margin-bottom-clear {
  margin-bottom: 0px !important;
}

/* line 103, ../sass/qantile-theme.scss */
.margin-bottom-20 {
  margin-bottom: 20px !important;
}

/* line 107, ../sass/qantile-theme.scss */
.margin-bottom-50 {
  margin-bottom: 50px !important;
}

/* line 111, ../sass/qantile-theme.scss */
.margin-top-50 {
  margin-top: 50px !important;
}

/* line 115, ../sass/qantile-theme.scss */
.margin-left-70 {
  margin-left: 70px !important;
}

/* line 119, ../sass/qantile-theme.scss */
.margin-right-70 {
  margin-right: 70px !important;
}

/* line 123, ../sass/qantile-theme.scss */
.padding-left-clear {
  padding-left: 0px !important;
}

/* line 127, ../sass/qantile-theme.scss */
.padding-right-clear {
  padding-right: 0px !important;
}

/* margin padding style end*/
/* form style start*/
/* line 134, ../sass/qantile-theme.scss */
.btn, .btn:hover {
  padding: 15px 40px;
  font-size: 1.05vw;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
}

/* line 139, ../sass/qantile-theme.scss */
.btn-primary {
  color: #fff;
  background-color: #019bde;
  border-color: #019bde;
}

/* line 145, ../sass/qantile-theme.scss */
.btn-primary:hover {
  color: #fff;
  background-color: #0075b8;
  border-color: #0075b8;
  transition: all 0.5s ease 0s;
}

/* line 152, ../sass/qantile-theme.scss */
.btn-secondary {
  color: #fff;
  background-color: #fbb13c;
  border-color: #fbb13c;
}

/* line 158, ../sass/qantile-theme.scss */
.btn-secondary:hover {
  color: #fff;
  background-color: #d58b16;
  border-color: #d58b16;
  transition: all 0.5s ease 0s;
}

/* text style end*/
/* nav style start*/
/* line 167, ../sass/qantile-theme.scss */
.navbar {
  min-height: 65px;
  margin-bottom: 0px;
}

/* line 172, ../sass/qantile-theme.scss */
.navbar-brand {
  line-height: 35px;
  padding: 18px 15px !important;
}

/* line 178, ../sass/qantile-theme.scss */
.navbar-nav li a {
  padding-top: 23px;
  padding-bottom: 21px;
}
/* line 184, ../sass/qantile-theme.scss */
.navbar-nav .btn {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  margin: 18px 0 0 0;
}
/* line 191, ../sass/qantile-theme.scss */
.navbar-nav .nav-btn-primary {
  color: #fff;
  background-color: #403f4c;
  border-color: #403f4c;
}
/* line 197, ../sass/qantile-theme.scss */
.navbar-nav .nav-btn-primary:hover {
  color: #fff;
  background-color: #1a1926;
  border-color: #1a1926;
  transition: all 0.5s ease 0s;
}

/* line 205, ../sass/qantile-theme.scss */
.navbar-inverse {
  background-color: #34333e;
  border-color: transparent;
}
/* line 211, ../sass/qantile-theme.scss */
.navbar-inverse .navbar-nav li a {
  color: #ffffff;
}
/* line 215, ../sass/qantile-theme.scss */
.navbar-inverse .navbar-nav li a:hover {
  color: #019bde;
}
/* line 221, ../sass/qantile-theme.scss */
.navbar-inverse .dropdown-menu {
  background-color: #34333e;
}

/* line 228, ../sass/qantile-theme.scss */
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #019bde;
  background-color: transparent;
}

/* line 232, ../sass/qantile-theme.scss */
.dropdown-menu > li > a {
  display: block;
  padding: 7px 15px 7px 15px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  background-color: transparent !important;
}

/* line 243, ../sass/qantile-theme.scss */
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #019bde;
  text-decoration: none;
  background-color: transparent !important;
}

/* line 249, ../sass/qantile-theme.scss */
.dropdown-submenu {
  position: relative;
}

/* line 253, ../sass/qantile-theme.scss */
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
  background-color: transparent !important;
}

/* line 264, ../sass/qantile-theme.scss */
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

/* line 268, ../sass/qantile-theme.scss */
.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

/* line 282, ../sass/qantile-theme.scss */
.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}

/* line 286, ../sass/qantile-theme.scss */
.dropdown-submenu.pull-left {
  float: none;
}

/* line 290, ../sass/qantile-theme.scss */
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

/* nav style end*/
/* hero style start*/
/* line 301, ../sass/qantile-theme.scss */
.q-hero {
  height: 40vh;
  background: url("../img/hero-bg.jpg");
  color: white;
  padding-top: 5%;
  margin-top: 60px;
}

/* hero style end*/
/* services style start*/
/* line 311, ../sass/qantile-theme.scss */
.q-services {
  padding: 60px 0 60px 0px;
}

/* services style end*/
/* projects style start*/
/* line 317, ../sass/qantile-theme.scss */
.q-projects {
  background: #f5f8fa;
}

/* projects style end*/
/* why quantile style start*/
/* line 323, ../sass/qantile-theme.scss */
.q-why-quantile {
  padding: 60px 0 60px 0px;
}
/* line 326, ../sass/qantile-theme.scss */
.q-why-quantile .block-1 {
  border-left: 6px #019bde solid;
}
/* line 330, ../sass/qantile-theme.scss */
.q-why-quantile .block-2 {
  border-left: 6px #fbb13c solid;
}
/* line 334, ../sass/qantile-theme.scss */
.q-why-quantile .block-3 {
  border-left: 6px #6c6c6c solid;
}
/* line 338, ../sass/qantile-theme.scss */
.q-why-quantile .block-4 {
  border-left: 6px #ee6352 solid;
}

/* why quantile style end*/
/* clients style start*/
/* line 345, ../sass/qantile-theme.scss */
.q-clients {
  background: #f5f8fa;
  padding: 60px 0 60px 0px;
}
/* line 349, ../sass/qantile-theme.scss */
.q-clients li {
  width: 300px;
}

/* clients style end*/
/* client testimonial style start*/
/* line 356, ../sass/qantile-theme.scss */
.q-client-testimonials {
  height: 54vh;
  background: url("../img/client-testimonial.jpg");
}

/* line 361, ../sass/qantile-theme.scss */
.q-client-testimonials-main-container {
  margin-top: 40px;
}

/* line 366, ../sass/qantile-theme.scss */
.item {
  background: white;
  padding-bottom: 30px !important;
  padding-top: 25px;
}

/* client testimonial style end*/
/* how to hire a client style start*/
/* line 374, ../sass/qantile-theme.scss */
.q-how-to-hire {
  padding: 60px 0 60px 0px;
}

/* how to hire a client style end*/
/* stats style start*/
/* line 380, ../sass/qantile-theme.scss */
.q-stats {
  padding: 30px 0 30px 0px;
  background: #34333e;
  color: #73b989;
}
/* line 385, ../sass/qantile-theme.scss */
.q-stats h1 {
  font-size: 4.1vw;
  line-height: 60px;
  font-weight: 100 !important;
}
/* line 391, ../sass/qantile-theme.scss */
.q-stats small {
  font-size: 1.5vw;
  padding-left: 5px;
}

/* stats style end*/
/* consultant style start*/
/* line 399, ../sass/qantile-theme.scss */
.q-consultant-top {
  background: url("../img/consultant-top.jpg");
  background-size: cover;
  color: white;
  padding: 60px 0 60px 0px;
}

/* line 406, ../sass/qantile-theme.scss */
.q-consultant-bottom {
  padding: 32px 0 60px 0px;
}

/* consultant style end*/
/* footer style start*/
/* line 413, ../sass/qantile-theme.scss */
.q-footer {
  height: 64px;
  font-size: 0.83vw;
  padding-top: 22px;
  background: #f8f8f8;
  color: #4c5c68;
}
/* line 420, ../sass/qantile-theme.scss */
.q-footer a {
  text-decoration: none;
  cursor: pointer;
}
/* line 425, ../sass/qantile-theme.scss */
.q-footer a.link {
  color: #019bde;
}
/* line 429, ../sass/qantile-theme.scss */
.q-footer a.link {
  color: #0075b8;
}

/* footer style end*/
/* socialmedia style start*/
/* line 440, ../sass/qantile-theme.scss */
.socialmedia li {
  width: 40px;
  height: 29px;
}
/* line 445, ../sass/qantile-theme.scss */
.socialmedia .fb {
  background: url("../img/fb-default.png") no-repeat;
}
/* line 449, ../sass/qantile-theme.scss */
.socialmedia .g-plus {
  background: url("../img/g-plus-default.png") no-repeat;
}
/* line 453, ../sass/qantile-theme.scss */
.socialmedia .in {
  background: url("../img/in-default.png") no-repeat;
}
/* line 457, ../sass/qantile-theme.scss */
.socialmedia .twitter {
  background: url("../img/twitter-default.png") no-repeat;
}
/* line 461, ../sass/qantile-theme.scss */
.socialmedia .you-tube {
  background: url("../img/you-tube-default.png") no-repeat;
}

/* socialmedia style end*/
/* carousel style start*/
/* carousel */
/* line 471, ../sass/qantile-theme.scss */
.client-info {
  margin-top: 70px;
  color: #18aabf;
}
/* line 476, ../sass/qantile-theme.scss */
.client-info .client-name {
  font-size: 1vw;
}
/* line 480, ../sass/qantile-theme.scss */
.client-info .company-name {
  font-size: 0.83vw;
}

/* line 486, ../sass/qantile-theme.scss */
.carousel-indicators li {
  border: none;
}

/* line 490, ../sass/qantile-theme.scss */
.carousel-inner {
  overflow: hidden;
  height: 270px;
}

/* line 495, ../sass/qantile-theme.scss */
.carousel-quote-symbol {
  font-family: 'oranienbaumregular';
  font-size: 40px;
}

/* line 500, ../sass/qantile-theme.scss */
.client-image {
  position: absolute;
  right: -45px;
  top: 82px;
}

/* line 507, ../sass/qantile-theme.scss */
#quote-carousel {
  padding: 0 0px 30px 10px;
  margin-top: 30px 0px 0px;
}

/* control buttons  */
/* line 514, ../sass/qantile-theme.scss */
#quote-carousel .carousel-control {
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}

/* previous button  */
/* line 523, ../sass/qantile-theme.scss */
#quote-carousel .carousel-control.left {
  left: -12px;
}

/* next button  */
/* line 528, ../sass/qantile-theme.scss */
#quote-carousel .carousel-control.right {
  right: -12px !important;
}

/* Changes the position of the indicators */
/* line 533, ../sass/qantile-theme.scss */
#quote-carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: -10px;
  margin-right: -19px;
}

/* Changes the color of the indicators */
/* line 541, ../sass/qantile-theme.scss */
#quote-carousel .carousel-indicators li {
  background: #1d1c22;
  margin-left: 10px;
  -webkit-transition: background 2s;
  /*adjust timing here */
  -moz-transition: background 2s;
  -o-transition: background 2s;
  transition: background 2s;
}

/* line 550, ../sass/qantile-theme.scss */
#quote-carousel .carousel-indicators .active {
  background: #fbb13c;
  -webkit-transition: background 2s;
  /*adjust timing here */
  -moz-transition: background 2s;
  -o-transition: background 2s;
  transition: background 2s;
}

/* End carousel */
/* line 559, ../sass/qantile-theme.scss */
blockquote {
  padding: 10px 0px;
}

/* line 563, ../sass/qantile-theme.scss */
.item blockquote {
  border-left: none;
  margin: 0;
}

/* line 568, ../sass/qantile-theme.scss */
.item blockquote img {
  margin-bottom: 10px;
}

/* Fade transition for carousel items */
/* line 573, ../sass/qantile-theme.scss */
.carousel .item {
  left: 0 !important;
  opacity: 0;
  -webkit-transition: opacity 2s;
  /*adjust timing here */
  -moz-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s;
}

/* line 581, ../sass/qantile-theme.scss */
.carousel-control {
  background-image: none !important;
  /* remove background gradients on controls */
}

/* Fade controls with items */
/* line 585, ../sass/qantile-theme.scss */
.item.active {
  opacity: 1;
}

/* line 590, ../sass/qantile-theme.scss */
.next.left,
.prev.right {
  opacity: 1;
  z-index: 10;
}

/* line 595, ../sass/qantile-theme.scss */
.active.left,
.active.right {
  opacity: 0 !important;
  z-index: 2;
  -webkit-transition: opacity 2s;
  /*adjust timing here */
  -moz-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s;
}

/* Carousel style end*/
/* How it works style end*/
/* line 606, ../sass/qantile-theme.scss */
.stepwizard-row:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
  z-order: 0;
}

/* line 617, ../sass/qantile-theme.scss */
.stepwizard-step {
  font-size: 2.17vw;
  position: relative;
  top: -24px;
  background: white;
}

/* How it works style end*/
/**
  MEDIA QUERIES
*/
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* carousel style start*/
  /* line 635, ../sass/qantile-theme.scss */
  #quote-carousel {
    margin-bottom: 0;
    padding: 0 20px 30px 0px;
    margin-top: 30px;
  }

  /* line 641, ../sass/qantile-theme.scss */
  .q-client-testimonials {
    height: 53vh;
    background: url("../img/client-testimonial.jpg");
  }

  /* carousel style end*/
  /* stats style start*/
  /* line 649, ../sass/qantile-theme.scss */
  .q-stats h1 {
    font-size: 4.1vw;
    line-height: 30px;
    font-weight: 100 !important;
  }

  /* stats style end*/
  /* how to hire a client style start*/
  /* line 658, ../sass/qantile-theme.scss */
  .logo-list li {
    width: 24%;
  }

  /* how to hire a client end start*/
}
/* small devices (tablets, up to 768px) */
@media (max-width: 768px) {
  /* make the indicators larger for easier clicking with fingers/thumb on mobile */
  /* line 669, ../sass/qantile-theme.scss */
  .navbar-header {
    float: none;
  }

  /* line 672, ../sass/qantile-theme.scss */
  .navbar-left, .navbar-right {
    float: none !important;
  }

  /* line 675, ../sass/qantile-theme.scss */
  .navbar-toggle {
    display: block;
  }

  /* line 678, ../sass/qantile-theme.scss */
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }

  /* line 682, ../sass/qantile-theme.scss */
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }

  /* line 686, ../sass/qantile-theme.scss */
  .navbar-collapse.collapse {
    display: none!important;
  }

  /* line 689, ../sass/qantile-theme.scss */
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }

  /* line 693, ../sass/qantile-theme.scss */
  .navbar-nav > li {
    float: none;
  }

  /* line 696, ../sass/qantile-theme.scss */
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  /* line 700, ../sass/qantile-theme.scss */
  .collapse.in {
    display: block !important;
  }

  /* text style start*/
  /* line 704, ../sass/qantile-theme.scss */
  h5 {
    font-size: 2vw;
    margin-bottom: 5px !important;
  }

  /* line 709, ../sass/qantile-theme.scss */
  h3 {
    font-size: 3vw;
  }

  /* text style end*/
  /*Form style start*/
  /* line 716, ../sass/qantile-theme.scss */
  .btn, .btn:hover {
    font-size: 2.05vw;
    width: 75%;
  }

  /* line 721, ../sass/qantile-theme.scss */
  hr {
    border: none;
  }

  /*Form style end*/
  /* hero style start*/
  /* line 729, ../sass/qantile-theme.scss */
  .q-hero {
    height: 22vh;
  }

  /* hero style end*/
  /* carousel style start*/
  /* line 735, ../sass/qantile-theme.scss */
  .carousel-inner {
    height: 220px;
  }

  /* line 739, ../sass/qantile-theme.scss */
  #quote-carousel .carousel-indicators li {
    display: inline-block;
    margin: 0px 5px;
    width: 15px;
    height: 15px;
  }

  /* line 745, ../sass/qantile-theme.scss */
  #quote-carousel .carousel-indicators li.active {
    margin: 0px 5px;
    width: 20px;
    height: 20px;
  }

  /* line 751, ../sass/qantile-theme.scss */
  .client-image {
    visibility: hidden;
  }

  /* line 755, ../sass/qantile-theme.scss */
  .q-client-testimonials {
    height: 33vh;
  }

  /* carousel style end*/
  /* how to hire a client style start*/
  /* line 762, ../sass/qantile-theme.scss */
  .logo-list li {
    width: 24%;
  }

  /* line 767, ../sass/qantile-theme.scss */
  .stepwizard-step {
    font-size: 2.17vw;
    position: relative;
    top: -10px !important;
    background: white;
  }

  /* line 775, ../sass/qantile-theme.scss */
  .q-stats
  h1 {
    line-height: 12px;
    text-align: center;
  }

  /* line 780, ../sass/qantile-theme.scss */
  small {
    padding-left: 34% !important;
  }

  /* how to hire a client style end*/
  /* footer style end*/
  /* line 786, ../sass/qantile-theme.scss */
  .q-footer {
    font-size: 1.3vw !important;
    padding-top: 22px;
  }

  /* line 791, ../sass/qantile-theme.scss */
  .copyrights {
    padding-top: 10px;
  }

  /* footer style end*/
}
@media (min-width: 1200px) {
  /* line 798, ../sass/qantile-theme.scss */
  .q-client-testimonials {
    height: 430px;
    background: url("../img/client-testimonial.jpg");
  }
}
