/* color declaraton start*/
/* color declaraton end*/
/* mixins style start*/
/* mixin style end*/
/* text style start*/
/* line 46, ../sass/qantile-theme.scss */
body {
  font-family: 'open sans', Helvetica,Arial,sans-serif;
}

/* line 51, ../sass/qantile-theme.scss */
h2 {
  font-size: 2.33vw;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 10px !important;
}

/* line 59, ../sass/qantile-theme.scss */
h3 {
  font-size: 2vw;
  font-weight: 300 !important;
}

/* line 65, ../sass/qantile-theme.scss */
h4 {
  font-size: 1.63vw;
  font-weight: 300 !important;
  margin-top: 10px !important;
  margin-bottom: 25px !important;
}

/* line 72, ../sass/qantile-theme.scss */
h5 {
  font-size: 1.25vw;
  font-weight: 600 !important;
  margin-top: 8px !important;
  margin-bottom: 16px !important;
}

/* line 79, ../sass/qantile-theme.scss */
h6 {
  font-size: 1.11vw;
  font-weight: 600 !important;
  margin-top: 8px !important;
  margin-bottom: 16px !important;
}

/* line 86, ../sass/qantile-theme.scss */
hr {
  border-top: 1px solid #e0e0e0;
  margin-top: 0pc;
}

/* line 91, ../sass/qantile-theme.scss */
blockquote {
  font-size: 14px;
}

/* text style end*/
/* margin padding style end*/
/* line 97, ../sass/qantile-theme.scss */
.margin-top-clear {
  margin-top: 0px !important;
}

/* line 101, ../sass/qantile-theme.scss */
.margin-top-10 {
  margin-top: 10px !important;
}

/* line 105, ../sass/qantile-theme.scss */
.margin-top-14 {
  margin-top: 14px !important;
}

/* line 109, ../sass/qantile-theme.scss */
.margin-top-15 {
  margin-top: 15px !important;
}

/* line 113, ../sass/qantile-theme.scss */
.margin-top-20 {
  margin-top: 14px !important;
}

/* line 117, ../sass/qantile-theme.scss */
.margin-top-30 {
  margin-top: 30px !important;
}

/* line 121, ../sass/qantile-theme.scss */
.margin-top-40 {
  margin-top: 40px !important;
}

/* line 125, ../sass/qantile-theme.scss */
.margin-bottom-clear {
  margin-bottom: 0px !important;
}

/* line 129, ../sass/qantile-theme.scss */
.margin-bottom-10 {
  margin-bottom: 10px !important;
}

/* line 133, ../sass/qantile-theme.scss */
.margin-bottom-20 {
  margin-bottom: 20px !important;
}

/* line 137, ../sass/qantile-theme.scss */
.margin-bottom-25 {
  margin-bottom: 25px !important;
}

/* line 141, ../sass/qantile-theme.scss */
.margin-bottom-50 {
  margin-bottom: 50px !important;
}

/* line 145, ../sass/qantile-theme.scss */
.margin-top-50 {
  margin-top: 50px !important;
}

/* line 149, ../sass/qantile-theme.scss */
.margin-left-70 {
  margin-left: 70px !important;
}

/* line 153, ../sass/qantile-theme.scss */
.margin-right-70 {
  margin-right: 70px !important;
}

/* line 157, ../sass/qantile-theme.scss */
.padding-left-clear {
  padding-left: 0px !important;
}

/* line 161, ../sass/qantile-theme.scss */
.padding-right-clear {
  padding-right: 0px !important;
}

/* margin padding style end*/
/* form style start*/
/* line 168, ../sass/qantile-theme.scss */
.btn, .btn:hover {
  padding: 15px 40px;
  font-size: 1.05vw;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
}

/* line 175, ../sass/qantile-theme.scss */
.btn-small, .btn-small:hover {
  padding: 15px 10px;
  font-size: 1.05vw;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
}

/* line 181, ../sass/qantile-theme.scss */
.btn-small, .btn-small:hover {
  padding: 5px 40px;
  font-size: 0.83vw;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
}

/* line 187, ../sass/qantile-theme.scss */
.btn-browse, .btn-browse:hover {
  padding: 14px 40px;
  font-size: 0.83vw;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
}

/* line 193, ../sass/qantile-theme.scss */
.btn-primary {
  color: #fff;
  background-color: #019bde;
  border-color: #019bde;
}

/* line 199, ../sass/qantile-theme.scss */
.btn-primary:hover {
  color: #fff;
  background-color: #0075b8;
  border-color: #0075b8;
  transition: all 0.5s ease 0s;
}

/* line 206, ../sass/qantile-theme.scss */
.btn-secondary {
  color: #fff;
  background-color: #6c6c6c;
  border-color: #6c6c6c;
}

/* line 212, ../sass/qantile-theme.scss */
.btn-secondary:hover {
  color: #fff;
  background-color: #464646;
  border-color: #464646;
  transition: all 0.5s ease 0s;
}

/* line 219, ../sass/qantile-theme.scss */
.error-msg {
  color: #ee6352;
}

/* line 224, ../sass/qantile-theme.scss */
a link {
  color: #019bde;
}

/* line 227, ../sass/qantile-theme.scss */
a:focus, a:hover {
  color: #0075b8;
  text-decoration: none;
}

/* line 232, ../sass/qantile-theme.scss */
.input-sm {
  background: #f8fbfd;
  height: 50px;
}

/* line 237, ../sass/qantile-theme.scss */
.sign-up-text-area {
  height: 160px !important;
}

/* line 241, ../sass/qantile-theme.scss */
.image-preview-input {
  position: relative;
  overflow: hidden;
  margin: 0px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

/* line 249, ../sass/qantile-theme.scss */
.image-preview-input input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

/* line 260, ../sass/qantile-theme.scss */
.image-preview-input-title {
  margin-left: 2px;
}

/* line 264, ../sass/qantile-theme.scss */
.browse-field {
  height: 49px;
}

/* line 268, ../sass/qantile-theme.scss */
.styled-select {
  padding-top: 0px;
}

/* line 272, ../sass/qantile-theme.scss */
.styled-select select {
  padding: 25px 10px !important;
}

/* line 276, ../sass/qantile-theme.scss */
.styled-select option {
  height: 29px;
  padding: 50px;
  /* If you add too much padding here, the options won't show in IE */
}

/* line 282, ../sass/qantile-theme.scss */
.border-bottom-none {
  border-bottom: 0px;
}

/* line 286, ../sass/qantile-theme.scss */
.display-inline {
  display: inline-block;
}

/* formstyle end*/
/* nav style start*/
/* line 292, ../sass/qantile-theme.scss */
.navbar {
  min-height: 65px;
  margin-bottom: 0px;
}

/* line 297, ../sass/qantile-theme.scss */
.navbar-brand {
  line-height: 35px;
  padding: 18px 15px !important;
}

/* line 303, ../sass/qantile-theme.scss */
.navbar-nav li a {
  padding-top: 23px;
  padding-bottom: 21px;
}
/* line 309, ../sass/qantile-theme.scss */
.navbar-nav .btn {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  margin: 18px 0 0 0;
}
/* line 316, ../sass/qantile-theme.scss */
.navbar-nav .nav-btn-primary {
  color: #fff;
  background-color: #403f4c;
  border-color: #403f4c;
}
/* line 322, ../sass/qantile-theme.scss */
.navbar-nav .nav-btn-primary:hover {
  color: #fff;
  background-color: #1a1926;
  border-color: #1a1926;
  transition: all 0.5s ease 0s;
}

/* line 330, ../sass/qantile-theme.scss */
.navbar-inverse {
  background-color: #34333e;
  border-color: transparent;
}
/* line 336, ../sass/qantile-theme.scss */
.navbar-inverse .navbar-nav li a {
  color: #ffffff;
}
/* line 340, ../sass/qantile-theme.scss */
.navbar-inverse .navbar-nav li a:hover {
  color: #019bde;
}
/* line 346, ../sass/qantile-theme.scss */
.navbar-inverse .dropdown-menu {
  background-color: #34333e;
}

/* line 353, ../sass/qantile-theme.scss */
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #019bde;
  background-color: transparent;
}

/* line 357, ../sass/qantile-theme.scss */
.dropdown-menu > li > a {
  display: block;
  padding: 7px 15px 7px 15px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  background-color: transparent !important;
}

/* line 368, ../sass/qantile-theme.scss */
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #019bde;
  text-decoration: none;
  background-color: transparent !important;
}

/* line 374, ../sass/qantile-theme.scss */
.dropdown-submenu {
  position: relative;
}

/* line 378, ../sass/qantile-theme.scss */
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
  background-color: transparent !important;
}

/* line 389, ../sass/qantile-theme.scss */
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

/* line 393, ../sass/qantile-theme.scss */
.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

/* line 407, ../sass/qantile-theme.scss */
.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}

/* line 411, ../sass/qantile-theme.scss */
.dropdown-submenu.pull-left {
  float: none;
}

/* line 415, ../sass/qantile-theme.scss */
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

/* nav style end*/
/* hero style start*/
/* line 426, ../sass/qantile-theme.scss */
.q-hero {
  height: 40vh;
  background: url("../img/hero-bg.jpg");
  color: white;
  padding-top: 5%;
  margin-top: 60px;
}

/* hero style end*/
/* services style start*/
/* line 436, ../sass/qantile-theme.scss */
.q-services {
  padding: 60px 0 60px 0px;
}

/* services style end*/
/* projects style start*/
/* line 442, ../sass/qantile-theme.scss */
.q-projects {
  background: #f5f8fa;
}

/* projects style end*/
/* why quantile style start*/
/* line 448, ../sass/qantile-theme.scss */
.q-why-quantile {
  padding: 60px 0 0px 0px;
}
/* line 451, ../sass/qantile-theme.scss */
.q-why-quantile .block-1 {
  border-left: 6px #019bde solid;
}
/* line 455, ../sass/qantile-theme.scss */
.q-why-quantile .block-2 {
  border-left: 6px #fbb13c solid;
}
/* line 459, ../sass/qantile-theme.scss */
.q-why-quantile .block-3 {
  border-left: 6px #6c6c6c solid;
}
/* line 463, ../sass/qantile-theme.scss */
.q-why-quantile .block-4 {
  border-left: 6px #ee6352 solid;
}

/* why quantile style end*/
/* clients style start*/
/* line 470, ../sass/qantile-theme.scss */
.q-clients {
  background: #f5f8fa;
  padding: 60px 0 60px 0px;
}
/* line 474, ../sass/qantile-theme.scss */
.q-clients li {
  width: 300px;
}

/* clients style end*/
/* client testimonial style start*/
/* line 481, ../sass/qantile-theme.scss */
.q-client-testimonials {
  height: 54vh;
  background: url("../img/client-testimonial.jpg");
}

/* line 486, ../sass/qantile-theme.scss */
.q-client-testimonials-main-container {
  margin-top: 40px;
}

/* line 491, ../sass/qantile-theme.scss */
.item {
  background: white;
  padding-bottom: 30px !important;
  padding-top: 25px;
}

/* client testimonial style end*/
/* how to hire a client style start*/
/* line 499, ../sass/qantile-theme.scss */
.q-how-to-hire {
  padding: 60px 0 60px 0px;
}

/* how to hire a client style end*/
/* stats style start*/
/* line 505, ../sass/qantile-theme.scss */
.q-stats {
  padding: 30px 0 30px 0px;
  background: #34333e;
  color: #73b989;
}
/* line 510, ../sass/qantile-theme.scss */
.q-stats h1 {
  font-size: 4.1vw;
  line-height: 60px;
  font-weight: 100 !important;
}
/* line 516, ../sass/qantile-theme.scss */
.q-stats small {
  font-size: 1.5vw;
  padding-left: 5px;
}

/* stats style end*/
/* consultant style start*/
/* line 524, ../sass/qantile-theme.scss */
.q-consultant-top {
  background: url("../img/consultant-top.jpg");
  background-size: cover;
  color: white;
  padding: 60px 0 60px 0px;
}

/* line 531, ../sass/qantile-theme.scss */
.q-consultant-bottom {
  padding: 32px 0 60px 0px;
}

/* line 535, ../sass/qantile-theme.scss */
.small, small {
  font-size: 100%;
}

/* consultant style end*/
/* template style start*/
/* line 541, ../sass/qantile-theme.scss */
#middle-content {
  min-height: 93vh;
  background: #f5f8fa;
}

/* template style end*/
/* footer style start*/
/* line 549, ../sass/qantile-theme.scss */
.q-footer {
  height: 64px;
  font-size: 0.83vw;
  padding-top: 22px;
  background: #f8f8f8;
  color: #4c5c68;
}
/* line 556, ../sass/qantile-theme.scss */
.q-footer a {
  text-decoration: none;
  cursor: pointer;
}
/* line 561, ../sass/qantile-theme.scss */
.q-footer a.link {
  color: #019bde;
}
/* line 565, ../sass/qantile-theme.scss */
.q-footer a.link {
  color: #0075b8;
}

/* footer style end*/
/* socialmedia style start*/
/* line 576, ../sass/qantile-theme.scss */
.socialmedia li {
  width: 40px;
  height: 29px;
}
/* line 581, ../sass/qantile-theme.scss */
.socialmedia .fb {
  background: url("../img/fb-default.png") no-repeat;
}
/* line 585, ../sass/qantile-theme.scss */
.socialmedia .g-plus {
  background: url("../img/g-plus-default.png") no-repeat;
}
/* line 589, ../sass/qantile-theme.scss */
.socialmedia .in {
  background: url("../img/in-default.png") no-repeat;
}
/* line 593, ../sass/qantile-theme.scss */
.socialmedia .twitter {
  background: url("../img/twitter-default.png") no-repeat;
}
/* line 597, ../sass/qantile-theme.scss */
.socialmedia .you-tube {
  background: url("../img/you-tube-default.png") no-repeat;
}

/* socialmedia style end*/
/* carousel style start*/
/* carousel */
/* line 607, ../sass/qantile-theme.scss */
.client-info {
  margin-top: 70px;
  color: #18aabf;
}
/* line 612, ../sass/qantile-theme.scss */
.client-info .client-name {
  font-size: 1vw;
}
/* line 616, ../sass/qantile-theme.scss */
.client-info .company-name {
  font-size: 0.83vw;
}

/* line 622, ../sass/qantile-theme.scss */
.carousel-indicators li {
  border: none;
}

/* line 626, ../sass/qantile-theme.scss */
.carousel-inner {
  overflow: hidden;
  height: 270px;
}

/* line 631, ../sass/qantile-theme.scss */
.carousel-quote-symbol {
  font-family: 'oranienbaumregular';
  font-size: 40px;
}

/* line 636, ../sass/qantile-theme.scss */
.client-image {
  position: absolute;
  right: -45px;
  top: 82px;
}

/* line 643, ../sass/qantile-theme.scss */
#quote-carousel {
  padding: 0 0px 30px 10px;
  margin-top: 30px 0px 0px;
}

/* control buttons  */
/* line 650, ../sass/qantile-theme.scss */
#quote-carousel .carousel-control {
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}

/* previous button  */
/* line 659, ../sass/qantile-theme.scss */
#quote-carousel .carousel-control.left {
  left: -12px;
}

/* next button  */
/* line 664, ../sass/qantile-theme.scss */
#quote-carousel .carousel-control.right {
  right: -12px !important;
}

/* Changes the position of the indicators */
/* line 669, ../sass/qantile-theme.scss */
#quote-carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: -10px;
  margin-right: -19px;
}

/* Changes the color of the indicators */
/* line 677, ../sass/qantile-theme.scss */
#quote-carousel .carousel-indicators li {
  background: #1d1c22;
  margin-left: 10px;
  -webkit-transition: background 2s;
  /*adjust timing here */
  -moz-transition: background 2s;
  -o-transition: background 2s;
  transition: background 2s;
}

/* line 686, ../sass/qantile-theme.scss */
#quote-carousel .carousel-indicators .active {
  background: #fbb13c;
  -webkit-transition: background 2s;
  /*adjust timing here */
  -moz-transition: background 2s;
  -o-transition: background 2s;
  transition: background 2s;
}

/* End carousel */
/* line 695, ../sass/qantile-theme.scss */
blockquote {
  padding: 10px 0px;
}

/* line 699, ../sass/qantile-theme.scss */
.item blockquote {
  border-left: none;
  margin: 0;
}

/* line 704, ../sass/qantile-theme.scss */
.item blockquote img {
  margin-bottom: 10px;
}

/* Fade transition for carousel items */
/* line 709, ../sass/qantile-theme.scss */
.carousel .item {
  left: 0 !important;
  opacity: 0;
  -webkit-transition: opacity 2s;
  /*adjust timing here */
  -moz-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s;
}

/* line 717, ../sass/qantile-theme.scss */
.carousel-control {
  background-image: none !important;
  /* remove background gradients on controls */
}

/* Fade controls with items */
/* line 721, ../sass/qantile-theme.scss */
.item.active {
  opacity: 1;
}

/* line 726, ../sass/qantile-theme.scss */
.next.left,
.prev.right {
  opacity: 1;
  z-index: 10;
}

/* line 731, ../sass/qantile-theme.scss */
.active.left,
.active.right {
  opacity: 0 !important;
  z-index: 2;
  -webkit-transition: opacity 2s;
  /*adjust timing here */
  -moz-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s;
}

/* Carousel style end*/
/* How it works style start*/
/* line 742, ../sass/qantile-theme.scss */
.stepwizard-row:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
  z-order: 0;
}

/* line 753, ../sass/qantile-theme.scss */
.stepwizard-step {
  font-size: 2.17vw;
  position: relative;
  top: -24px;
  background: white;
}

/* How it works style end*/
/* Sign in style start*/
/* line 762, ../sass/qantile-theme.scss */
.sign-in-registration-main-container {
  margin-top: 85px;
}

/* line 766, ../sass/qantile-theme.scss */
.sign-in-registration-header-container {
  padding: 20px 25px;
  background: #4c5c68;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid #eef1f3;
  border-bottom: none;
  color: white;
}
/* line 775, ../sass/qantile-theme.scss */
.sign-in-registration-header-container h5 {
  font-weight: normal !important;
  margin-top: 1px !important;
  margin-bottom: 1px !important;
}
/* line 781, ../sass/qantile-theme.scss */
.sign-in-registration-header-container small {
  font-size: 0.95vw;
  color: white;
}

/* line 788, ../sass/qantile-theme.scss */
.sign-in-registration-middle-container {
  padding: 35px 25px;
  background: white;
  border-left: 1px solid #eef1f3;
  border-right: 1px solid #eef1f3;
}

/* Sign in style end*/
/* Step wizard style start*/
/* line 800, ../sass/qantile-theme.scss */
.tabel-v-lign td {
  vertical-align: middle !important;
}

/* line 807, ../sass/qantile-theme.scss */
.wizard .nav-tabs {
  position: relative;
  margin-bottom: 0;
  border-bottom-color: #e0e0e0;
}

/* line 813, ../sass/qantile-theme.scss */
.wizard > div.wizard-inner {
  position: relative;
}

/* line 817, ../sass/qantile-theme.scss */
.connecting-line {
  height: 2px;
  background: #e0e0e0;
  position: absolute;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 1;
}

/* line 829, ../sass/qantile-theme.scss */
.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
  color: #fff;
  cursor: pointer;
  border: 0;
  border-bottom-color: transparent;
}

/* line 836, ../sass/qantile-theme.scss */
.wizard .nav-tabs > li > .active > a {
  color: #fff !important;
  cursor: pointer;
  border: 0;
  border-bottom-color: transparent;
}

/* line 843, ../sass/qantile-theme.scss */
.wizard .nav-tabs > li > a {
  color: #000;
  cursor: default;
  border: 0;
  border-bottom-color: transparent;
}

/* line 851, ../sass/qantile-theme.scss */
span.round-tab {
  width: 100%;
  height: 70px;
  line-height: 70px;
  display: inline-block;
  color: #CCCCCC;
  background: #F8F8F8;
  border: 1px solid #CCC;
  z-index: 2;
  position: absolute;
}

/* line 862, ../sass/qantile-theme.scss */
span.round-tab i {
  color: #555555;
}

/* line 865, ../sass/qantile-theme.scss */
.wizard li.active span.round-tab {
  background: #263642;
  border: 2px solid #263642;
  color: #fff;
}

/* line 872, ../sass/qantile-theme.scss */
.wizard li.active span.round-tab i {
  color: #5bc0de;
}

/* line 876, ../sass/qantile-theme.scss */
span.round-tab:hover {
  color: #333;
  border: 2px solid #333;
}

/* line 881, ../sass/qantile-theme.scss */
.wizard .nav-tabs > li {
  width: 33.3%;
}

/* line 885, ../sass/qantile-theme.scss */
.wizard li:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 0;
  margin: 0 auto;
  bottom: 0px;
  border: 5px solid transparent;
  transition: 0.1s ease-in-out;
}

/* line 897, ../sass/qantile-theme.scss */
.wizard .nav-tabs > li a {
  margin: 20px auto;
  border-radius: 100%;
  padding: 0;
}

/* line 903, ../sass/qantile-theme.scss */
.wizard .nav-tabs > li a:hover {
  background: transparent;
}

/* line 907, ../sass/qantile-theme.scss */
.wizard .tab-pane {
  position: relative;
  padding-top: 90px;
}

/* line 912, ../sass/qantile-theme.scss */
.wizard h3 {
  margin-top: 0;
}

/* line 916, ../sass/qantile-theme.scss */
.step-number {
  position: relative;
  float: left;
  width: 30px;
  text-align: center;
  padding: 0 15px 5px;
  font-size: 4vh;
}

/* line 925, ../sass/qantile-theme.scss */
.step-title {
  padding-left: 10px;
}

@media (max-width: 585px) {
  /* line 931, ../sass/qantile-theme.scss */
  .wizard {
    width: 90%;
    height: auto !important;
  }

  /* line 936, ../sass/qantile-theme.scss */
  span.round-tab {
    font-size: 16px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }

  /* line 943, ../sass/qantile-theme.scss */
  .wizard .nav-tabs > li a {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }

  /* line 949, ../sass/qantile-theme.scss */
  .wizard li.active:after {
    content: " ";
    position: absolute;
    left: 35%;
  }
}
/* Step wizard style end*/
/**
  MEDIA QUERIES
*/
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* carousel style start*/
  /* line 968, ../sass/qantile-theme.scss */
  #quote-carousel {
    margin-bottom: 0;
    padding: 0 20px 30px 0px;
    margin-top: 30px;
  }

  /* line 974, ../sass/qantile-theme.scss */
  .q-client-testimonials {
    height: 53vh;
    background: url("../img/client-testimonial.jpg");
  }

  /* carousel style end*/
  /* stats style start*/
  /* line 982, ../sass/qantile-theme.scss */
  .q-stats h1 {
    font-size: 4.1vw;
    line-height: 30px;
    font-weight: 100 !important;
  }

  /* stats style end*/
  /* how to hire a client style start*/
  /* line 991, ../sass/qantile-theme.scss */
  .logo-list li {
    width: 24%;
  }

  /* how to hire a client end start*/
}
/* small devices (tablets, up to 768px) */
@media (max-width: 768px) {
  /* make the indicators larger for easier clicking with fingers/thumb on mobile */
  /* line 1002, ../sass/qantile-theme.scss */
  .navbar-header {
    float: none;
  }

  /* line 1005, ../sass/qantile-theme.scss */
  .navbar-left, .navbar-right {
    float: none !important;
  }

  /* line 1008, ../sass/qantile-theme.scss */
  .navbar-toggle {
    display: block;
  }

  /* line 1011, ../sass/qantile-theme.scss */
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }

  /* line 1015, ../sass/qantile-theme.scss */
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }

  /* line 1019, ../sass/qantile-theme.scss */
  .navbar-collapse.collapse {
    display: none!important;
  }

  /* line 1022, ../sass/qantile-theme.scss */
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }

  /* line 1026, ../sass/qantile-theme.scss */
  .navbar-nav > li {
    float: none;
  }

  /* line 1029, ../sass/qantile-theme.scss */
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  /* line 1033, ../sass/qantile-theme.scss */
  .collapse.in {
    display: block !important;
  }

  /* text style start*/
  /* line 1037, ../sass/qantile-theme.scss */
  h5 {
    font-size: 2vw;
    margin-bottom: 5px !important;
  }

  /* line 1042, ../sass/qantile-theme.scss */
  h3 {
    font-size: 3vw;
  }

  /* line 1047, ../sass/qantile-theme.scss */
  .line-height-50 {
    line-height: 50px !important;
  }

  /* text style end*/
  /*Form style start*/
  /* line 1053, ../sass/qantile-theme.scss */
  .btn, .btn:hover {
    font-size: 2.05vw;
    width: 75%;
  }

  /* line 1058, ../sass/qantile-theme.scss */
  hr {
    border: none;
  }

  /*Form style end*/
  /* hero style start*/
  /* line 1066, ../sass/qantile-theme.scss */
  .q-hero {
    height: 22vh;
  }

  /* hero style end*/
  /* carousel style start*/
  /* line 1072, ../sass/qantile-theme.scss */
  .carousel-inner {
    height: 220px;
  }

  /* line 1076, ../sass/qantile-theme.scss */
  #quote-carousel .carousel-indicators li {
    display: inline-block;
    margin: 0px 5px;
    width: 15px;
    height: 15px;
  }

  /* line 1082, ../sass/qantile-theme.scss */
  #quote-carousel .carousel-indicators li.active {
    margin: 0px 5px;
    width: 20px;
    height: 20px;
  }

  /* line 1088, ../sass/qantile-theme.scss */
  .client-image {
    visibility: hidden;
  }

  /* line 1092, ../sass/qantile-theme.scss */
  .q-client-testimonials {
    height: 33vh;
  }

  /* carousel style end*/
  /* how to hire a client style start*/
  /* line 1099, ../sass/qantile-theme.scss */
  .logo-list li {
    width: 24%;
  }

  /* line 1104, ../sass/qantile-theme.scss */
  .stepwizard-step {
    font-size: 2.17vw;
    position: relative;
    top: -10px !important;
    background: white;
  }

  /* line 1112, ../sass/qantile-theme.scss */
  .q-stats
  h1 {
    line-height: 12px;
    text-align: center;
  }

  /* line 1117, ../sass/qantile-theme.scss */
  small {
    padding-left: 34% !important;
  }

  /* how to hire a client style end*/
  /* footer style end*/
  /* line 1123, ../sass/qantile-theme.scss */
  .q-footer {
    font-size: 1.3vw !important;
    padding-top: 22px;
  }

  /* line 1128, ../sass/qantile-theme.scss */
  .copyrights {
    padding-top: 10px;
  }

  /* footer style end*/
}
@media (min-width: 1200px) {
  /* line 1135, ../sass/qantile-theme.scss */
  .q-client-testimonials {
    height: 430px;
    background: url("../img/client-testimonial.jpg");
  }
}
