/*! color declaraton start*/
$bg-primary-color: #ffffff;
$bg-secondary-color: #f5f8fa;
$blue-default: #019bde;
$blue-hover:#0075b8;
$green-default: #5c946e;
$orange-default:#fbb13c;
$orange-default-hover:#d58b16;
$red-default:#ee6352;
$dark-grey-default:#6c6c6c;
$dark-grey-default-hover:#464646;
$grayish-blue-default:#34333e;
$lime-green:#73b989;
$nav-bg:#34333e;
$footer-bg:#f8f8f8;
$footer-text:#4c5c68;
$carousel-indecator-default:#1d1c22;
$client-info:#18aabf;
$text-white: #ffffff;
$step-wizard-line:#e0e0e0;
$nav-button-default:#403f4c;
$nav-button-hover:#1a1926;
$sign-in-border:#eef1f3;
$sign-in-header:#4c5c68;
$input-bg:#f8fbfd;

/*! color declaraton end*/

/*! mixins style start*/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin carousel-transition($timing) {
  -webkit-transition: background $timing; /*adjust timing here */
  -moz-transition: background $timing;
  -o-transition: background $timing;
  transition: background $timing;
}
/*! mixin style end*/

/*! text style start*/
body{
	
	font-family: 'open sans', Helvetica,Arial,sans-serif;
}

h2{
	font-size: 2.33vw;
	font-style: normal;
	font-weight: 400;
	margin-bottom: 10px !important;

}

h3{
	font-size:2vw;
	font-weight:300 !important;

}

h4 {
    font-size: 1.63vw;
    font-weight: 300 !important;
    margin-top: 10px !important;
    margin-bottom: 25px !important;
}

h5{
	font-size:1.25vw;
	font-weight:600 !important;
	margin-top: 8px !important;
	margin-bottom: 16px !important;
}

h6{
  font-size:1.11vw;
  font-weight:600 !important;
  margin-top: 8px !important;
  margin-bottom: 16px !important;
}

hr {
  border-top:1px solid $step-wizard-line;
  margin-top:0pc;
}

blockquote{
  font-size: 14px;
}
/*! text style end*/

/*! margin padding style end*/
.margin-top-clear{
	margin-top:0px !important
}

.margin-top-10{
  margin-top:10px !important;
}

.margin-top-14{
	margin-top:14px !important;
}

.margin-top-15{
  margin-top:15px !important;
}

.margin-top-20{
	margin-top:14px !important;
}

.margin-top-30{
	margin-top:30px !important;
}

.margin-top-40{
	margin-top:40px !important;
}

.margin-bottom-clear{
	margin-bottom:0px !important
}

.margin-bottom-10{
  margin-bottom:10px !important;
}

.margin-bottom-20{
	margin-bottom:20px !important;
}

.margin-bottom-25{
  margin-bottom:25px !important;
}

.margin-bottom-50{
	margin-bottom:50px !important;
}

.margin-top-50{
	margin-top:50px !important;
}

.margin-left-70{
	margin-left:70px !important;
}

.margin-right-70{
	margin-right:70px !important;
}

.padding-left-clear{
	padding-left:0px !important
}

.padding-right-clear{
	padding-right:0px !important
}
/*! margin padding style end*/


/*! form style start*/
.btn, .btn:hover{
    padding: 15px 40px;	
    font-size: 1.05vw;
    @include border-radius(6px);
}


.btn-small, .btn-small:hover{
    padding: 15px 10px; 
    font-size: 1.05vw;
    @include border-radius(6px);
}

.btn-small, .btn-small:hover{
    padding: 5px 40px; 
    font-size: 0.83vw;
    @include border-radius(6px);
}

.btn-browse, .btn-browse:hover{
    padding: 14px 40px; 
    font-size: 0.83vw;
    @include border-radius(6px);
}

.btn-primary {
    color: #fff;
    background-color: $blue-default;
    border-color: $blue-default;
}

.btn-primary:hover {
    color: #fff;
    background-color: $blue-hover;
    border-color: $blue-hover;
    transition: all 0.5s ease 0s;
}

.btn-secondary {
    color: #fff;
    background-color: $dark-grey-default;
    border-color: $dark-grey-default;
}

.btn-secondary:hover {
    color: #fff;
    background-color: $dark-grey-default-hover;
    border-color: $dark-grey-default-hover;
    transition: all 0.5s ease 0s;
}

.error-msg{
    color: $red-default;

}

a link{
  color: $blue-default;
}
a:focus, a:hover {
    color: $blue-hover ;
    text-decoration: none;
}

.input-sm{
  background:$input-bg;
  height: 50px;
}

.sign-up-text-area{
  height: 160px !important;
}

.image-preview-input {
    position: relative;
  overflow: hidden;
  margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}

.browse-field{
  height: 49px;
}

.styled-select{
  padding-top:0px;
}

.styled-select select {
  padding: 25px 10px !important;
}

.styled-select option {
   height: 29px;
   padding: 50px; /* If you add too much padding here, the options won't show in IE */

}

.border-bottom-none{
  border-bottom:0px;
}

.display-inline{
  display: inline-block;
}
/*! formstyle end*/

/*! nav style start*/
.navbar{
	min-height:65px;
	margin-bottom: 0px;
}

.navbar-brand {
    line-height: 35px;
    padding: 18px 15px !important;
}
.navbar-nav{
	li {
		a {
   	 		padding-top: 23px;
    		padding-bottom: 21px;
    	  }
       } 

     .btn{
     	padding-top: 5px;
    	padding-bottom: 5px;
    	font-size: 14px;
    	margin: 18px 0 0 0;
    	}

    .nav-btn-primary {
    color: #fff;
    background-color: $nav-button-default;
    border-color: $nav-button-default;
	}

	.nav-btn-primary:hover {
    color: #fff;
    background-color: $nav-button-hover;
    border-color: $nav-button-hover;
    transition: all 0.5s ease 0s;
	}	  	
}

.navbar-inverse {
    background-color: #34333e;
    border-color: transparent;

    .navbar-nav{
		    li {
		    	a {
    			color: #ffffff;
					}   

				a:hover{
       			color:$blue-default; 
       				} 	 
			}			
    }

    .dropdown-menu {
    	background-color:$nav-bg;
	}
}

.navbar-inverse .navbar-nav > .open > a,		
.navbar-inverse .navbar-nav > .open > a:hover,		
.navbar-inverse .navbar-nav > .open > a:focus {		
  color:$blue-default;		
  background-color: transparent;		
}		
.dropdown-menu > li > a {		
  display: block;		
  padding: 7px 15px 7px 15px;		
  clear: both;		
  font-weight: normal;		
  line-height: 1.42857143;		
  color: #333;		
  white-space: nowrap;	
  background-color: transparent !important; 	
}		
.dropdown-menu > li > a:hover,		
.dropdown-menu > li > a:focus {		
  color: $blue-default;		
  text-decoration: none;		
  background-color: transparent !important;		
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
    background-color: transparent !important; 
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/*! nav style end*/

/*! hero style start*/
.q-hero{
	height:40vh;
	background:url('../img/hero-bg.jpg');
	color:$text-white;
	padding-top: 5%;
	margin-top:60px;
}
/*! hero style end*/

/*! services style start*/
.q-services{
	padding:60px 0 60px 0px;
}
/*! services style end*/

/*! projects style start*/
.q-projects{
	background:$bg-secondary-color;
}
/*! projects style end*/

/*! why quantile style start*/
.q-why-quantile{
	padding:60px 0 0px 0px;

	.block-1{
		border-left: 6px $blue-default solid;
	}

	.block-2{
		border-left: 6px $orange-default solid;
	}

	.block-3{
		border-left: 6px $dark-grey-default solid;
	}

	.block-4{
		border-left: 6px $red-default solid;
	}
}
/*! why quantile style end*/

/*! clients style start*/
.q-clients{
	background:$bg-secondary-color;
	padding:60px 0 60px 0px;

	li{
		width: 300px;
	}
}
/*! clients style end*/

/*! client testimonial style start*/
.q-client-testimonials{
	height:54vh;
	background:url('../img/client-testimonial.jpg');
}

.q-client-testimonials-main-container{
		// background:$bg-primary-color;
		margin-top: 40px;
	}

.item{
	 background:$bg-primary-color;
	 padding-bottom: 30px !important;
     padding-top: 25px;
}
/*! client testimonial style end*/

/*! how to hire a client style start*/
.q-how-to-hire{
	padding: 60px 0 60px 0px;
}
/*! how to hire a client style end*/

/*! stats style start*/
.q-stats{
	padding:30px 0 30px 0px;
	background:$grayish-blue-default;
	color:$lime-green;

	h1{
		font-size: 4.1vw;
		line-height: 60px;
		font-weight: 100 !important;
	}

	small{
		font-size: 1.5vw;
		padding-left:5px;
	}
}
/*! stats style end*/

/*! consultant style start*/
.q-consultant-top{
	background:url('../img/consultant-top.jpg');
	background-size:cover;
	color:$text-white;
	padding: 60px 0 60px 0px;		
}

.q-consultant-bottom{
	padding: 32px 0 60px 0px;
}

.small, small{
  font-size: 100%;
}
/*! consultant style end*/

/*! template style start*/
#middle-content{
  min-height: 93vh;
  background:$bg-secondary-color;
}

/*! template style end*/

/*! footer style start*/
.q-footer{
	height:64px;
	font-size:0.83vw;
	padding-top:22px;
	background:$footer-bg;
	color:$footer-text;

	a{
		text-decoration:none;
		cursor: pointer;
	}

	a.link{
		color:$blue-default;	
	}

	a.link{
		color:$blue-hover;	
	}
	

}
/*! footer style end*/


/*! socialmedia style start*/
.socialmedia{
	li{
		width:40px;
		height:29px;
	}
	
	.fb{
		background:url('../img/fb-default.png') no-repeat;
		
	}
	.g-plus{
		background:url('../img/g-plus-default.png') no-repeat;
	
	}
	.in{
		background:url('../img/in-default.png') no-repeat;
		
	}
	.twitter{
		background:url('../img/twitter-default.png') no-repeat;
	
	}
	.you-tube{
		background:url('../img/you-tube-default.png') no-repeat;
	
	}			
}	
/*! socialmedia style end*/

/*! carousel style start*/
/* carousel */

.client-info{

	margin-top:70px;
	color:$client-info;

	.client-name{
		font-size: 1vw;
	}

	.company-name{
		font-size: 0.83vw;
	}
	
}

.carousel-indicators li {
    border: none;
}

.carousel-inner{
	overflow:hidden;
	height:270px;
}

.carousel-quote-symbol{
	font-family:'oranienbaumregular';
	font-size:40px;
}

.client-image{
	position: absolute;
    right: -45px;
    top: 82px;
}

#quote-carousel 
{
  padding: 0 0px 30px 10px;
  margin-top: 30px 0px 0px;
}

/* control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* previous button  */
#quote-carousel .carousel-control.left 
{
  left: -12px;
}
/* next button  */
#quote-carousel .carousel-control.right 
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: -10px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li 
{
  background: $carousel-indecator-default;
  margin-left: 10px;
    -webkit-transition: background 2s; /*adjust timing here */
         -moz-transition: background 2s;
           -o-transition: background 2s;
              transition: background 2s;          
}
#quote-carousel .carousel-indicators .active 
{
  background: $orange-default;
    -webkit-transition: background 2s; /*adjust timing here */
         -moz-transition: background 2s;
           -o-transition: background 2s;
              transition: background 2s;
}
/* End carousel */

blockquote{
	padding: 10px 0px;
}

.item blockquote {
    border-left: none; 
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

/* Fade transition for carousel items */
.carousel .item {
    left: 0 !important;
    opacity: 0;
    -webkit-transition: opacity 2s; /*adjust timing here */
    -moz-transition: opacity 2s;
    -o-transition: opacity 2s;
    transition: opacity 2s;
}
.carousel-control {
    background-image: none !important; /* remove background gradients on controls */
}
/* Fade controls with items */
.item.active{
    opacity: 1;
}

.next.left,
.prev.right {
    opacity: 1;
    z-index: 10;
}
.active.left,
.active.right {
    opacity: 0 !important;
    z-index: 2;
    -webkit-transition: opacity 2s; /*adjust timing here */
    -moz-transition: opacity 2s;
    -o-transition: opacity 2s;
    transition: opacity 2s;
}
/*! Carousel style end*/

/*! How it works style start*/
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color:$step-wizard-line;
    z-order: 0;
}

.stepwizard-step{
	font-size:2.17vw;
	position: relative;
    top: -24px;
    background:$bg-primary-color;
}
/*! How it works style end*/

/*! Sign in style start*/
.sign-in-registration-main-container{
  margin-top: 85px;
}

.sign-in-registration-header-container{
  padding:20px 25px;
  background: $sign-in-header;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
  border: 1px solid $sign-in-border;
  border-bottom:none;
  color:$text-white;

  h5{
    font-weight: normal !important;
    margin-top: 1px !important;
    margin-bottom: 1px !important;
  }

  small{
    font-size: 0.95vw;
    color:$text-white;
  }

}

.sign-in-registration-middle-container{
  padding:35px 25px;
  background: $bg-primary-color;
  border-left: 1px solid $sign-in-border;
  border-right: 1px solid $sign-in-border;
}

/*! Sign in style end*/

/*! Step wizard style start*/

.tabel-v-lign{
  td{
    vertical-align: middle !important;
  }
  
}


    .wizard .nav-tabs {
        position: relative;
        margin-bottom: 0;
        border-bottom-color: #e0e0e0;
    }

    .wizard > div.wizard-inner {
        position: relative;
    }

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #fff;
    cursor: pointer;
    border: 0;
    border-bottom-color: transparent;
}

.wizard .nav-tabs > li > .active > a{
    color: #fff !important;
    cursor: pointer;
    border: 0;
    border-bottom-color: transparent;
}

.wizard .nav-tabs > li > a{
    color: #000;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}


span.round-tab {
    width: 100%;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    color: #CCCCCC;
    background: #F8F8F8;
    border: 1px solid #CCC;
    z-index: 2;
    position: absolute;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #263642;
    border: 2px solid #263642;
    color: #fff;

    
}
.wizard li.active span.round-tab i{
    color: #5bc0de;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 33.3%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    
    transition: 0.1s ease-in-out;
}

.wizard .nav-tabs > li a {
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    padding-top: 90px;
}

.wizard h3 {
    margin-top: 0;
}

.step-number{
  position:relative;
  float:left;
  width:30px;
  text-align: center;
  padding: 0 15px 5px;
  font-size: 4vh;
}

.step-title{
  padding-left:10px;
}

@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}

/*! Step wizard style end*/



/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	/*! carousel style start*/
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 20px 30px 0px;
      margin-top: 30px;
    } 

    .q-client-testimonials {
    height: 53vh;
    background: url("../img/client-testimonial.jpg");
	}  

    /*! carousel style end*/

	/*! stats style start*/
	.q-stats h1 {
    font-size: 4.1vw;
    line-height: 30px;
    font-weight: 100 !important;
	}
	/*! stats style end*/

	/*! how to hire a client style start*/
    .logo-list{
    	li{
    	width: 24%; 
    	}
    }	
    /*! how to hire a client end start*/
}

/* small devices (tablets, up to 768px) */
@media (max-width: 768px) { 

/* make the indicators larger for easier clicking with fingers/thumb on mobile */
	.navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
/*! text style start*/
	h5 {
    font-size: 2vw;
    margin-bottom: 5px !important;
	}

	h3 {
    font-size: 3vw;
    
	}

  .line-height-50{
    line-height: 50px !important;
  }
/*! text style end*/

	/*Form style start*/
		.btn, .btn:hover {
    	font-size: 2.05vw;
    	width: 75%;
	}

	hr{
		border:none;
	}
	/*Form style end*/



	/*! hero style start*/
    .q-hero {
    	height: 22vh;
	}
	/*! hero style end*/

	/*! carousel style start*/
	.carousel-inner {
    	height: 220px;
	}

    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }

    .client-image{
    	visibility: hidden;
    }

    .q-client-testimonials{
		height:33vh;
	}
    /*! carousel style end*/

    /*! how to hire a client style start*/
    .logo-list{
    	li{
    	width: 24%; 
    	}
    }

    .stepwizard-step {
    	font-size: 2.17vw;
    	position: relative;
    	top: -10px !important;
    	background: white;
	}

	.q-stats 
	h1 {
    	line-height: 12px;
    	text-align: center;
	}

	small{
		padding-left: 34% !important;
	}
	/*! how to hire a client style end*/

	/*! footer style end*/
	.q-footer {
		font-size:1.3vw !important	;	
    	padding-top: 22px;
	}

	.copyrights{
		padding-top:10px;
	}
	/*! footer style end*/
}

@media(min-width: 1200px) { 
    .q-client-testimonials {
    height: 430px;
    background: url("../img/client-testimonial.jpg");
	}  
}





